body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height:100%;
}

.gameDiv{

    width: 540px;
    height: 600px;

    display: inline-block;
    vertical-align: top;
}

#MapCanvas{
    position: absolute;
    border:1px solid green;
    top:20px;
}
#PieceCanvas{
    position: absolute;
    top:20px;
}
/*.banner-top{*/
    /*position: absolute;*/
    /*border: 1px solid black;*/
    /*height:20px;*/

    /*width:540px;*/

    /*/!*top:0;*!/*/
    /*/!*background:red;*!/*/
/*}*/
/*.banner-down{*/
    /*position: absolute;*/
    /*top:620px;*/
    /*border: 1px solid black;*/
    /*height:20px;*/
    /*width:540px;*/
    /*/!*background:red;*!/*/
/*}*/


.tableDiv{
    /*position: absolute;*/
    /*left: 600px;*/
    /*top:20px;*/
    display: inline-block;
    vertical-align: top;
    border:1px solid yellow;
    width: 200px;
    height: 200px;
}
.table{
    border:1px solid gray;
    width: 200px;
    height: 150px;
}

